.video-container {
  margin: 2rem auto;
  border: solid 1px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  width: 385px;
  background-color: #ffff;
}
.thumbnail {
  display: flex;
}
.finview-label {
  text-align: center;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  width: 40px;
  height: 20px;
  color: white;
  background-color: black;
}
.finview-card-label {
  position: absolute;
  top: -2rem;
  right: -0.3rem;
}
.thumbnail-image {
  width: 100%;
  height: 200px;
}

.video-bottom-section {
  position: relative;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.channel-icon-image {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 0.8rem;

  background-color: blue;
}
.video-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.video-title {
  font-size: 1rem;
  font-weight: bold;
}

.channel-name {
  color: #555;
  margin-bottom: 0.1rem;
}

.video-view-data {
  color: #555;
}
