.emptywatchlater-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #d8eeff;
}

.emptywatchlater-header-container {
  font-weight: bold;
  font-size: xx-large;
  color: #27418a;
}
