.listing-div {
  grid-column: 2/4;
}

@media screen and (max-width: 768px) {
  .listing-div {
    grid-column: 1/4;
  }

  /* new */
  .listing-div {
    /* display: inline-block;
    background-color: red; */
  }
}
