.playlist-container {
  background-color: #fff;
  border: 3px solid #aaaa;
  margin-top: 1rem;
  margin-left: 1rem;
}

.video-section-playlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  background-color: #fff;
}

h3 {
  width: 100%;
  background-color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .playlist-home {
    display: block;
    min-height: 100vh;
  }
}
