* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login-form {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #27418a;
  padding: 40px;
  justify-content: center;
  display: flex;

  align-items: center;
}

.login-container {
  max-width: 800px;
  width: 300px;
  background-color: white;
  margin: 0 auto;
  border-radius: 0.9rem;
}

.login-form h1 {
  text-align: "center";
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
}
.login-form h2 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #272346;
  text-align: center;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.9rem;
  width: 100%;
  height: 300px;
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-content p {
  margin-top: 0.5rem;
}

.login-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  padding: 1rem;
  height: 2rem;
  background-color: #1e40af;
  color: white;
  cursor: pointer;
  border: none;
}
.wd-100 {
  width: 100%;
}
.login-content input {
  text-align: left;
  /* width: 120px; */
  height: 30px;
  margin: 10px auto;
  border: none;
  border-bottom: solid 1px #aaa;
  outline: none;
}

.persist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
