.video-page-video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.video-page-video-container {
  border: solid 1px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
}

.video-page-video-bottom-section {
  position: relative;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video-page-channel-icon-image {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 0.8rem;
  background-color: brown;
}
.video-page-video-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.video-page-video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.video-page-channel-name {
  color: #555;
  margin-bottom: 0.1rem;
}

.video-page-video-view-data {
  color: #555;
}

.bottom-section-icons {
  align-self: flex-start;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-links {
  margin: 0.5rem;
  cursor: pointer;
}

/* -----------------------------modal------------------- */

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  z-index: 100;
}
.modal-container.show {
  pointer-events: auto;
  opacity: 1;
  transition: 0.5s;
}

.modal-container.show-watchlater-modal {
  pointer-events: auto;
  opacity: 1;
  transition: 0.5s;
}
.modal {
  text-align: center;
  width: 600px;
  max-width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.modal h2 {
  margin: 0;
}

.modal p {
  opacity: 0.6;
}

.modal-close-button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.create-playlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-playlist-input {
  margin: 0.5rem 0.5rem;
  text-align: left;
  padding: 0.6rem;
  width: 10rem;
  height: 1.8rem;
  border: 2px solid darkblue;
  border-radius: 4px;
  font-size: medium;
}

.create-playList-button {
  padding: 0.4rem;
  font-weight: bold;
  cursor: pointer;
}

.checkbox {
  width: 2rem;
}
.chekbox-label {
  margin: 0.6rem;
  font-size: larger;
}

.delete-button-svg {
  width: 1.2rem;
  cursor: pointer;
}

.add-to-playlist-svg {
  width: 2rem;
  cursor: pointer;
}

.playlist-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-button {
  border: none;

  background: none;
}
